@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    background-color: green;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    margin-top: 10rem;
    padding: 15px 20px;
    border: 1px transparent black;
    background-color: greenyellow;
    height: 27rem;
    border-radius: 1rem;
    align-items: center;
    width: 25rem;
    position: relative;
}
form h1{
    margin-bottom: 1rem;
    margin-left: 6px;
    font-family: 'Roboto', sans-serif;
    color:rgb(7, 119, 7)
}
.first{
    padding: 10px 55px;
    text-align: center;
     
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 17rem;
    height: 26rem;
}

.input-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    

}
.passlength-i{
    width: 4rem;
    text-align: center;
    margin-left: 5px;
}

button{
    padding-block: 5px;
    border-radius: 3rem;
    background-color: rgb(40, 40, 98,0.4);
    color: white;
}
button:hover{
    background-color: rgb(95, 95, 172);
    cursor: pointer;

}

.clipboard-p{
    margin-left: 4rem;
    display: flex;
    align-items: center;
}
.clipboard-p:hover{
    cursor: pointer;
}
.content-i{
    /* display: flex; */
    /* align-items: flex-end; */
    position: absolute;

    right: 70px;
}